ORG_ID = "org_rLyT7M12Nu9NcIYC"
CLIENT_ID= "XUFs6r3P7dhqjGQfEE8Fmz1YYtyd5xRG"
CLIENT_SECRET= "k9bHW1AE4G3gHBS6FPCk4IJvs5RPvlBUGExisoZYS9cjr7T28mePrBMNmgMt9gG"
PORT_API_KEY= "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdJZCI6Im9yZ19yTHlUN00xMk51OU5jSVlDIiwiaXNzIjoiaHR0cHM6Ly9hcGkuZ2V0cG9ydC5pbyIsImlzTWFjaGluZSI6dHJ1ZSwic3ViIjoiWFVGczZyM1A3ZGhxakdRZkVFOEZtejFZWXR5ZDV4UkciLCJqdGkiOiJiOTA5ZTAwYy04ZWNmLTQwZjMtODZjOC05MGM4OGIyOWNlMjAiLCJpYXQiOjE3MjcyMjM0NDMsImV4cCI6MTcyNzIzNDI0M30.nMxjJEaHVoyrQ3ScJpPdM-KjsPQs0rsvQEzpYWIpfMU"
